@import url('https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/*==========PreLoader===============*/
/* .preldtxt{
	position: relative;
	text-align: center;
	top: calc(52vh - 78px);
	animation-name: loadertxt;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
} 

@keyframes loadertxt{
	0%{
		opacity: 0.5;
		font-weight: 900;
	}
	50%{
		opacity: 1;
		font-weight: 900;
	}
	100%{
		opacity: 0.5;
		font-weight: 900;
	}
} 
*/
.loader_bg{
	content: 'Loading';
	overflow: hidden;
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 100vh;
	text-align: center;
	background:/*url("img/loadingbg.png") no-repeat,*/white;
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	min-width: 50%;
	/* animation-name: loading_bg;
	animation-duration: 1.5s;
	animation-iteration-count: infinite; */
}

/* @keyframes loading_bg{
	0%{
		background-color: white;
	}
	50%{
		background-color: rgb(255, 125, 93);
	}
	100%{
		background-color: white;
	}
} */

.loadingimg{
	border: 0 solid transparent;
	width: 102px;
	height: 120px;
	position: relative;
	animation-name: loading;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}


@keyframes loading{
	0%{
		transform: scale(0.8);
		opacity: 0.5;
	}
	50%{
		transform: scale(1);
		opacity: 1;
	}
	100%{
		transform: scale(0.8);
		opacity: 0.5;
	}
}

/* 
.loading{
	margin:120px;
	position:relative;
	text-align: center;

} */


.loadingtxt{
	position: relative;
	text-align: center;
	top: calc(52vh - 78px);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	z-index: 20000;
}
.loader p{
	font-family: 'Indie Flower', cursive;
	font-weight: 900;
	display:inline;
	letter-spacing:10px;
	position:relative;

}

.loadingtxt hr{
	border-style: dotted;
}

#horizontal_line_top{
	background: linear-gradient(to right,red,rgb(255, 239, 10));
	margin-top: 1px;
	animation-name: loading_top;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
#horizontal_line_down{
	background: linear-gradient(to right,red,rgb(255, 239, 10));
	animation-name: loading_down;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes loading_top{
	0%{margin-left:0px}
	50%{margin-left: 2000px;}
	100%{margin-left:0px}
}
@keyframes loading_down{
	0%{margin-right:0px}
	50%{margin-right: 2000px;}
	100%{margin-right:0px}
}

#ftxt{ 
  position:relative;
  animation-name: ftxt;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes ftxt {
  0% {top:5px;}
  50% {top:-5px;}
  100%{top:5px;}
}

#stxt{ 
  position:relative;
  animation-name: stxt;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes stxt {
  0% {top:-5px;}
  50% {top:5px;}
  100%{top:-5px;}
}
#ttxt{ 
	position:relative;
  animation-name: ttxt;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes ttxt {
	0% {top:5px;}
	50% {top:-5px;}
	100%{top:5px;}
}

#fotxt{ 
	position:relative;
  animation-name: fotxt;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes fotxt {
	0% {top:-5px;}
  50% {top:5px;}
  100%{top:-5px;}
}

#fitxt{ 
	position:relative;
  animation-name: fitxt;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
@keyframes fitxt {
	0% {top:5px;}
	50% {top:-5px;}
	100%{top:5px;}
}

#sitxt{ 
	position:relative;
  animation-name: sitxt;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes sitxt {
	0% {top:-5px;}
	50% {top:5px;}
	100%{top:-5px;}
}

#setxt{ 
	position:relative;
  animation-name: setxt;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes setxt {
	0% {top:5px;}
	50% {top:-5px;}
	100%{top:5px;}
}



/*Notification Popup*/
#notificOver{
	display: none;
	position: fixed;
	z-index: 1500;
	background-color: rgba(0, 0, 0, 0.63);
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	-webkit-touch-callout: all; /* iOS Safari */
	-webkit-user-select: all; /* Safari */
	-khtml-user-select: all; /* Konqueror HTML */
	-moz-user-select: all; /* Firefox */
	-ms-user-select: all; /* Internet Explorer/Edge */
 	user-select: all; /* Non-prefixed version, currently */
}


#notificOver .main-content{
	margin: 10px 40px;
}

#notificOver img{
	position: relative;
	width: 950px;
	height: 90vh;
	margin-top: 25px;

}

#notificOver .closeBtn{
	position: absolute;
	cursor: pointer;
	font-size: 30px;
	z-index: 1;
	color: blanchedalmond;
	margin-top: 20px;
}


body{
	overflow-x: hidden;
	font-family: 'Overpass', sans-serif;
	color: black;
	background-color: rgb(255, 255, 255); /*Temp*/
	position: relative;
	height: 100%;
	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none; /* Safari */
 	-khtml-user-select: none; /* Konqueror HTML */
 	-moz-user-select: none; /* Firefox */
 	-ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
ol{
	list-style-type: circle;
}

/* Start of ToolBar Css */
.tool_bar 
{	
	background-color: white;
	color: black;
	font-size: 15.5px;
	font-weight: 700;
	border-bottom: 1px solid white;
}
#kan{
	padding-top: 1rem;
	padding-left: 10rem;
	background-color: rgb(255, 152, 67);
	border-bottom-left-radius: 162px;
}
.nav_b img{
	padding: 1rem;
}
/* End of ToolBar Css */

/*Nav Scrolling Offset*/
/*--- --- Extra Bootstrap Column Padding
 [class*="col-"]{
 	padding:0.2rem;
 }*/

/*================ NAVIGATION START ================*/

.navbar{
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: .1rem;
	transition: background-color .5s ease 0s;
	background-image: linear-gradient(to left,rgb(47, 196, 255),rgba(128, 128, 128, 0.164));
}

.navbar-nav li{
	padding-right:.8rem;
}
.navbar-nav .nav-link{
	color: rgb(0, 0, 0);
	margin-top: -0.5rem;
	margin-bottom: -0.5rem;
}
.navbar-nav{
	padding: .1rem 9rem;
}
.navbar-toggler{
	color: rgb(0, 0, 0);
	font-size: 1.6rem;
}

.navbar-nav .nav-link.active{
	color:#fd5918;
}
.navbar-nav .nav-link:hover
{
	color:#ffffff;
}
.navbar.solid {
	background: rgba(78, 78, 78, 0.596)!important;
	transition: background-color 1s ease 0s;
}
.dropdown:hover>.dropdown-menu{
	display: block;
}

.dropdown-item{
	font-size: 0.8rem;
	color:rgb(75, 74, 74);
}
.dropdown-item:hover{
	color:white;
	background-color: #0066ff;
}

/*========Gpt Teaser==========*/
.video_embed{
	position: relative;
}
.gptvideoCarsouel{
	height: 70vh;
	overflow-y: hidden;
}

.gptTeaser{
	height: 100%;
	width: 100%;
}
.ytVideo{
	width: 100%;
}
.ytVideo iframe{
	height: 70vh;
}

.fa-play-circle{
	font-size: 3.8rem;
	position: absolute;
	bottom: 0;
	color: rgb(255, 255, 255);
	left: 80px;
	margin-bottom: 60px;
	background-color: grey;
	border-radius: 50%;
	border: 0px transparent;
	cursor: pointer;
	transition: transform .2s;
	opacity: 0.6;
}

.fa-play-circle:hover{
	background-color: tomato;
	transform: scale(1.1);
	opacity: 1;
}
.ytVideo .fa-times-circle{
	display: none;
	font-size: 2.5rem;
	position: absolute;
	top: 0;
	color: rgb(255, 255, 255);
	right: 0;
	margin:10px;
	opacity: 0.6;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	border: 0px transparent;
	cursor: pointer;
	transition: transform .2s ease-in-out;
}

.ytVideo .fa-times-circle:hover{
	transform: scale(1.1);
	color: rgb(207, 0, 0);
	opacity: 1;
}
/*============= IMAGE SLIDER =============*/

.slideImage{
	display: none;
}

.carousel-item {
  align-items: center;
  height: 60vh; /*--- Change Height of Image Slider --*/
  min-height: 18.5rem; /*--- (300px for mobile) --*/
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #1A1A1A; /*--- For Firefox white between slides --*/
}
/*---Change Carousel Transition Speed --*/
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease,-webkit-transform 1.2s ease;

}
.carousel-indicators li {
    width: 10px;
    height: 10px;
	border-radius: 100%;
	background-color: black;
}
/*.carousel-caption {
  min-width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  right: 0;
  left: 0;
  padding: 0;
}
.carousel-item h1 {
  color: white;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.carousel-item h3 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 2rem;
}*/
.btn-lg {
  color: black;
  border-width: medium;
  border-radius: 0;
  padding: .8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block!important;
}
/*============= Moving Text ==========*/
.movingtxt{
	font-weight: 700;
	padding-top: 8px;
	color: rgb(231, 48, 2);
}
/*============= Cards ================*/

#basic_content .card-body{
	background: #ffd40030;
}

#basic_content .card{
	color: black;
	padding: 1rem;
	position: relative;  
	border: transparent;
} 
.card_body_text{
	padding-top: 5px;
	color: black;
	font-weight: 700;
}
.eadfooter{
	transition: transform 0.2s;
	background-color:whitesmoke;
}
.eadfooter:hover{
	transform: scale(1.02);
	background-color: black;
	color: black;
}
.latestlink{
	font-weight: 700;
	color: black;
	transition: transform 0.2s;
}
.latestlink:hover{
	font-weight: 700;
	color: rgb(236, 114, 0);
	transform: scale(1.08);
}
.latestnews{
	font-weight: 700;
	font-size: 16px;
	color: rgb(236, 114, 0);
	transition: transform 0.2s;
}
/*.latestnews:hover{
	font-weight: 700;
	color:red;
	transform: scale(1.08);
}*/
.unordernostyle{
	list-style: none;
}
/*============= Modals =============*/
.modal-header {
    padding:20px 25px;
    background-color: #0480be;
    color:white;
    font-style: underline;
 }
 .modal-title{
 	position: absolute;
 	font-weight: 700;
 }
.modal-footer {
    padding:9px 15px;
    background-color: #0480be;
    color:white;
 }
 #mbofmd{
 	font-size: 1.4rem;
 }
 #mtofmd{
 	font-size: 2rem;
}
/*=========== Gallery Main Page ==============*/
.galleryimg{
	transition: transform .3s;
	height: 250px;
	width: 100%;
	border-radius: 20%;
	-webkit-filter: grayscale(65%) blur(0.8px); /* Safari 6.0 - 9.0 */
  	filter: grayscale(65%) blur(0.8px);
	
}

#gallery{
	background-image: linear-gradient(to left,rgb(206, 206, 206),rgba(0, 195, 255, 0.541));
	padding-bottom: 2rem;
}
.galleryh1{
	font-family: 'Girassol', cursive;
	color: #1A1A1A;
	padding: 15px;
	font-weight: 900;
	font-size: 3.3rem;
}
.gallerylink{
	color: black;
}
.galleryh3{
	position: relative;
	top: 10px;
	font-weight: 900;
}
.gallerylink:hover{
	color: black;
}
.galleryimg:hover{
	box-shadow: 5px 5px 5px grey;
	transform: rotate(2deg) scale(1.03);
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(0%);
}

/*=========== Academic ==============*/

.academicimg{
	height: 210px;
	transition: transform .2s;
	padding-top: 1.2rem;
}
.academicimg:hover{
	color: black;
	font-weight: 700;
	transform: scale(1.05);
}
#academic{
	position: relative;
	padding-top: 2.5rem;
	color: black;
}
.academich1{
	font-family: 'Girassol', cursive;
	color:black;
	background-color: blue;
	font-weight: 700;
	padding-top: 0.5rem;
}
/*.acdoptpad{
	padding-left: 1.5rem;
	text-align: center;
}*/
.academiclink{
	color:black;
}
.academiclink:hover{
	color:white;
	font-weight: 700;
}
.academich3{
	position: relative;
	padding-top: 10px;
	text-align: center;
}
#academic .swiper-container {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
  }
  #academic .swiper-slide{
	background-position: center;
	background-size: cover;
	width: 350px;
	height: 17.5rem;
  }
  .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 220px;
	height: 15rem;
  }

/*Applies to all swiper arrows*/
.swiper-button-next, .swiper-button-prev{
	background: rgba(0, 0, 0, 0.548);
	color: rgba(255, 255, 255, 0.623);
	padding: 20px;
	border: 3px solid transparent;
	border-radius: 50%;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
	background: rgba(0, 0, 0, 0.89);
	color: rgb(255, 255, 255);
}

/*=========== Administration ==============*/
.adminimg{
	margin:0 auto;
	position: relative;
	width: 100%;
	height: 200px;
	border: 5px solid transparent;
	border-radius: 25px;
}

#administration .card{
	transition: transform .2s;
}
#administration .card:hover{
	transform: scale(1.03);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.877), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.adminlink{
	color:rgb(180, 0, 0);
}
.adminlink:hover{
	color:rgb(31, 102, 255);
}
#administration{
	position: relative;
	padding-top: 2.5rem;
	padding-bottom: 2rem;
	color: black;
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0.623),rgba(190, 72, 3, 0.733)),url('Gallery/2018-19/Engg Days/DSC_6193.jpg');
	background-size: cover;
	background-position: center;
}

#administration .card-deck{
	padding-top: 1rem;
}
#administration .card-text{
	text-align: justify;
}
.administration_card{
	background-color: rgba(98, 224, 255, 0.911);
}
.adminh1{
	font-family: 'Girassol', cursive;
	color:rgb(255, 253, 253);
	font-weight: 700;
}
.adminh3{
	position: relative;
	font-weight: 700;
	top: 10px;
	font-style: bold;
	padding-bottom: 2px;
}

/*=========== Department ==============*/
#department{
	position: relative;
	padding-top: 2.5rem;
	color: black;
	padding-bottom: 1rem;
	
}

.departh1{
	font-family: 'Girassol', cursive;
	color:black;
	font-weight: 700;
}
.nav-tabs{
	background-image: linear-gradient(to right,black,white);

}
.nav-tabs a{
	color: white;
	transition: transform 0.5s;
	font-weight: 700;
}
.nav-tabs a:hover{
	background-color: #fd5918;
	transform: scale(1.03);
}
.tab-content h3{
	color: #fd5918;
	font-weight: 700;
}
.tab-content p{
	color: #818181;
	font-weight: 700;
}
.tab-content li{
	padding-left: 1rem;
	color: #818181;
	font-weight: 700;
}
.tab-content h6{
	padding-left: 1rem;
	color: #008cffa4;
	font-weight: 700;
}

.showtab:hover>.container{
	display: block;
}

/*.departimg{
	transition: transform .2s;
	margin:0 auto;
	padding-top: 1rem;
	height: 220px;
}
.departlink{
	color: #1A1A1A;
}
.departimg:hover,.departlink:hover,.departimg:hover{
	color: rgb(248, 99, 29);
	font-weight: 700;
	transform: scale(1.03);
}

.acdoptpad{
	padding-left: 1.5rem;
	padding-top: 1.5rem;
}
.departh3{
	position: relative;
	top: 10px;
}*/
/*=======Teaching Staff=========*/
#teachingStaff{
	position: relative;
	padding-top: 2.5rem;
	color: black;
	padding-bottom: 2.5rem;
}
.tsh1{
	font-weight: 700;
	font-family: 'Girassol', cursive;
}
#teachingStaff .swiper-container, #nts {
	overflow-x: hidden;
	overflow-y: hidden;
    width: 100%;
	padding-top: 2rem;
}
.teachingStaff-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  transition: transform 0.3s;
  height: 15rem;
  align-items: center;
}
.teachingStaff-slide:hover{
	transform: scale(1.1);
}

.teachingStaff-slide:hover .image {
opacity: 0.3;
}

.teachingStaff-slide:hover .middle {
opacity: 1;
}
.teachingmodalimg{
	width: 100%;
	height: 350px;
}
.txt {
	text-align: center;
	position: absolute;
	background-color: rgb(83, 83, 83);
	color: white;
	font-size: 12px;
	padding: 1px 20px;
	top: 10rem;
}
.txt_modal {
	text-align: center;
	position: relative;
	background-color: rgb(83, 83, 83);
	color: white;
	width: 100%;
	}
.info_modal{
	position: relative;
	top: 1rem;
	text-align: justify;
	font-size: 20px;
}
.sub_info{
	position: relative;
	top: 1rem;
	font-size: 20px;
}
.staffinfo{
	background-image: linear-gradient(360deg,rgba(0, 0, 0, 0.445),white);
	font-weight: 700;
}
/*====Non Teaching Staff=====*/
#ntstaff{
	position: relative;
	padding-top: 2rem;
	color: black;
	background-image:linear-gradient(to bottom,rgba(128, 128, 128, 0.74),white);
	overflow: hidden;
}
#grpd{
	position: relative;
	padding-top: 2.5rem;
	color: black;
	padding-bottom: 2.5rem;
	background-image:linear-gradient(to bottom,white,rgba(128, 128, 128, 0.74));
	overflow: hidden;
}

#ntstaff .swiper-container, #grpd .swiper-container{
	margin-left: 35px;
	margin-right: 35px;
}

.text {
	text-align: center;
	position: absolute;
	background-color: rgb(241, 119, 71);
	color: white;
	font-size: 12px;
	padding: 1px 20px;
	top: 10rem;
	
	}
.ntstaffsubtxt
{
	margin-left: 20px;
	font-weight: 700;
	color: white;
	background-image: linear-gradient(to right,red,rgba(117, 117, 117, 0));
	width: 300px;
	padding: 8px;
}
.ntstaffsubtxt::before{
	content: '.';
	width: 5px;
	height: 30px;
	background: white;
	margin-right: 5px;
}

#ntstaff .swiper-container, #grpd .swiper-container{
	overflow-x: hidden;
	overflow-y: hidden;
    width: 100%;
	padding-top: 0.5rem;
}
.nonteacstff {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  transition: transform 0.3s;
  height: 15rem;
  width: 90%;
  align-items: center;
}
.nonteacstff:hover{
	transform: scale(1.1);
}

.nonteacstff:hover .image {
opacity: 0.3;
}

.nonteacstff:hover .middle {
opacity: 1;
}
/*================== Footer ===================*/
footer {
  position: relative;
  background-color: rgba(57, 63, 70, 0.85);
  background-size: cover;
  color: white;
}
footer .row {
  padding: 1rem 2rem 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.credits{
	background-color: #1A1A1A;
	background-size: cover;
}
footer img {
  height: 2rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
.creatorlogo{
	position: absolute;
	height: 4rem;
	top: -0.1rem;
	animation-name: creatorlogo;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
}
@keyframes creatorlogo{
	0%   {transform:scale(0.95)}
  50%  {transform:scale(1)}
  100% {transform:scale(0.95)}
}


/*================ Contact Us ==================*/

.form-control{
	background-color: rgb(206, 206, 206);
	border: none;
	outline: none;
	border-bottom: 1px solid rgb(155, 155, 155);
	color: white;
}

input{
	height: 25px;
}
form .submit{
	background-color:rgb(255, 0, 0);
	border-color: transparent;
	font-size: x-small;
	color: white;
	align-items: center;
	font-weight: 700;
	letter-spacing: 2px;
	transition: transform .2s;
}
form .submit:hover{
	transform:scale(1.02);
	background-color: rgb(255, 152, 67);
}
/*=================== Top Scroll ===============*/
a.top-scroll{
	right:3rem;
	bottom:3rem;
	position:fixed;
	opacity: .6;
	z-index: 1000;
}
a.top-scroll:hover{
	opacity: 1;
}
.top-scroll .fa-angle-up{
	background:rgb(219, 48, 5);
	color:rgb(0, 0, 0);
	font-size: 2.5rem;
	text-align: center;
	height:2.6rem;
	width: 2.6rem;
	border:2px solid rgb(0, 0, 0);
	border-radius:50%;
}

/*=========== Gallery ===========*/
#funcgallery{
	padding-top: 2.5rem;
	background-image: linear-gradient(to bottom,white,rgba(255, 251, 0, 0.527));
}
#sports{
	padding-top: 2.5rem;
}
#others_{
	padding-top: 2.5rem;
	background-image: linear-gradient(to bottom,white,rgba(255, 251, 0, 0.527));
}
#activities{
	padding-top: 2.5rem;
}


.funcpadding{
	padding-top: 2rem;
	padding-left: 2rem;
}

.heading{
	background-color: rgb(35, 111, 224);
	font-family: 'Girassol', cursive;
	text-align: center;
	font-weight: 700;
	padding-right: 2rem;
}

.engg_day{
	position: relative;
	padding-bottom: 2rem;
}
.teachersday{
	position: relative;
	padding-bottom: 2rem;
}
.annualday{
	position: relative;
	padding-bottom: 2rem;
}
.image{
	width: 300px;
	border: 5px solid rgb(202, 202, 202);
}
.card1{
	
	position: relative;
	transition: transform 0.2s ease;
}

.card2{
	position: absolute;
	transition: transform 0.2s ease;
	top: 1.5rem;
	left: 1.9rem;
	display: block;
}

/*.card3{
	display: block;
	position: absolute;
	transition: transform 0.2s ease;
	top: 3rem;
	left: 3rem;
}
.card3:hover{
	z-index: 1;
	transform: scale(1.1);
}*/
.card1:hover{
	z-index: 1;
	transform: scale(1.1);
}
.card2:hover{
	z-index: 1;
	transform: scale(1.1);
}

.subinfo{
	position:absolute;
	text-align:center;
	top:60%;
	background-color: black;
	width: 50%;
	opacity: 0.8;
	font-size: 1.8rem;
	font-weight: 700;
	color: rgb(255, 38, 0);
}
.subheading {
	position: relative;
	font-weight: 700;
	font-size: 25px;
	padding-bottom: 2rem;
	top: 3.4rem;
	left: 4rem;
	color: black;
}

@media (max-width: 800px){
	.loader_bg{
		content: 'Loading';
		overflow: hidden;
		position: fixed;
		z-index: 2000;
		width: 100%;
		height: 100%;
		text-align: center;
		/* background:url("img/loadingbg.png") no-repeat,linear-gradient(yellow,red);
		background-position: center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		min-width: 50%; */
	/* animation-name: loading_bg;
	animation-duration: 1.5s;
	animation-iteration-count: infinite; */
}

/*========Gpt Teaser==========*/
.video_embed{
	display: none;
}

/*============= IMAGE SLIDER =============*/

.slideImage{
	display: block;
}
}